*.pkl filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
data/*.pkl filter=lfs diff=lfs merge=lfs -text
data/*.json filter=lfs diff=lfs merge=lfs -text
*.hdf5 filter=lfs diff=lfs merge=lfs -text
data/emotion_pd.pkl filter=lfs diff=lfs merge=lfs -text
data/wav2vec_transform.py filter=lfs diff=lfs merge=lfs -text
data/HatefulMemes.pkl filter=lfs diff=lfs merge=lfs -text
data/data filter=lfs diff=lfs merge=lfs -text
data/val_splits_wav filter=lfs diff=lfs merge=lfs -text
data/emotion_pd_raw.pkl filter=lfs diff=lfs merge=lfs -text
data/test_splits_wav filter=lfs diff=lfs merge=lfs -text
data/train_splits_wav filter=lfs diff=lfs merge=lfs -text
data/SarcasmVideos.pkl filter=lfs diff=lfs merge=lfs -text
data/emotion_audio_all.pkl filter=lfs diff=lfs merge=lfs -text
data/emotion_audio_all_test.pkl filter=lfs diff=lfs merge=lfs -text
.vector_cache filter=lfs diff=lfs merge=lfs -text
data/text_audio_video_emotion_data.pkl filter=lfs diff=lfs merge=lfs -text
data/train_* filter=lfs diff=lfs merge=lfs -text
data/test_* filter=lfs diff=lfs merge=lfs -text
data/val_* filter=lfs diff=lfs merge=lfs -text
